// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "grid.less";
@import "buttons.less";

@import "utilities.less";


/*======================= LANDING PAGE =============================*/

@q-1024 		: ~"screen and (max-width: 1279px)";

.container {
	width: 1236px !important;

	@media @q-1024 {
		width: 980px !important;
	}
}

body,html {
	height: 100%;
}

img {
	max-width: 100%; // Make images inherently responsive
	width:auto\9;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10 {
	float: left;
}
.col-md-10 {
	width: 100%;
}
.col-md-9 {
	width: 90%;
}
.col-md-8 {
	width: 80%;
}
.col-md-7 {
	width: 70%;
}
.col-md-6 {
	width: 60%;
}
.col-md-5 {
	width: 50%;
}
.col-md-4 {
	width: 40%;
}
.col-md-3 {
	width: 30%;
}
.col-md-2 {
	width: 20%;
}
.col-md-1 {
	width: 10%;
}

a {
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
		text-decoration:none;
	}
}

.back-bg {
	position: fixed;
	top:50%;
	left:50%;
	right:0;
	bottom: 0;
	z-index: -1;
	img {
		position: absolute;
		top:0;
		left: 0;
		max-width: inherit;
	}
}

.landing-over {
	position: absolute;
	overflow: hidden;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.shd {
	display: block;
	.opacity(0.01);
	position: fixed;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.shd:hover, .shd:active {
	.opacity(1);
	z-index: 4;
}

.shd1 {
	z-index: 3;
	background-image: url("@{pth-images}/house1.png");
}
.shd2 {
	z-index: 2;
	background-image: url("@{pth-images}/house2.png");
}
.shd3 {
	z-index: 1;
	background-image: url("@{pth-images}/house3.png");
}

.red 	{color:@red;}
.green 	{color:@green;}
.violet {color:@violet;}
.lilac  {color:@lilac;}
.yellow {color:@yellow;}

.note {
	.ib;
	padding: 6px 10px;
	line-height: 1.2;
	color: #fff;
	background: @violet;
}

/*======================= titles =============================*/
.l-title {
	.ib;
	color: @violet;
	font-size: 18px;
	line-height: 1.2;
	padding: 7px 10px 6px;
	margin:0 0 24px;
	font-weight: bold;
	font-family: @font-family-sans-serif;
	text-transform: uppercase;
	border:2px solid @violet;

	&.bi {
		margin-bottom: 60px;
	}

	&.ti {
		margin-top: 20px;
	}

	&.no-indent {
		margin-bottom: 0;
	}

	&.l-wide-title {
		padding-left: 20px;
		padding-right: 20px;

		@media @q-1024 {
			padding-left: 10px;
			padding-right: 10px;
			font-size: 14px;
		}
	}

	&.lilac {
		color: @lilac;
		border-color:@lilac;
	}
	&.green {
		color: @green;
		border-color:@green;
	}
	&.red {
		color: @red;
		border-color:@red;
	}
	&.yellow {
		color: @yellow;
		border-color:@yellow;
	}
	&.acid-green {
		color: #0f0;
		border-color:#0f0;
	}
}

.m-title {
	font-size: 15px;
	color: @lilac;
	font-weight: bold;
	text-transform: uppercase;
	font-family: @font-family-sans-serif;
	margin-bottom: 15px;
}

.flat-title {
	.ib;
	padding: 6px 12px 0;
	line-height: 1.1;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 0 0 55px;
	text-transform: uppercase;
	font-family: @font-family-sans-serif;
	background: @lilac;

	span {
		display: block;
		font-size: 53px;
		line-height: 1;
		font-weight: normal;
		letter-spacing: -3px;
		font-family: @font-family-bebasreg;
	}

	@media @q-1024 {
		padding: 5px 7px;
		font-size:12px;
	}
}

/*======================= icns =============================*/

[class^="icn-"], [class*=" icn-"] {
	.ib;
	margin: -2px 2px 0 0;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-image: url("@{pth-images}/sprite.png");
}

.icn-logo {
	width: 124px;
	height: 74px;
	background-image: url("@{pth-images}/logo.png");
	background-size: 100% auto;
}

.icn-map {
	width: 22px;
	height: 31px;
	background-position: -132px 0;

	&:hover,
	&:focus {
		background-position: -132px -32px;
	}
}

.icn-sambo {
	width: 56px;
	height: 49px;
	background-position: -161px 0;
}

.icn-violet-choose {
	width: 28px;
	height: 28px;
	background-position: -158px -52px;
}

.icn-yellow-choose {
	width: 28px;
	height: 28px;
	background-position: -190px -52px;
}

.icn-green-choose {
	width: 28px;
	height: 28px;
	background-position: -223px -52px;
}

.icn-lilac-choose-right {
	width: 27px;
	height: 27px;
	background-position: -218px 0;
}
.icn-white-choose-right {
	width: 27px;
	height: 27px;
	background-position: -243px -24px;
}

.icn-print {
	width: 32px;
	height: 28px;
	background-position: 0 -82px;
}

.icn-calc {
	width: 25px;
	height: 27px;
	background-position: -36px -82px;
}

.icn-send {
	width: 27px;
	height: 26px;
	background-position: -64px -82px;
}

.icn-fancy {
	width: 48px;
	height: 48px;
	background-position: -92px -82px;
}

.icn-play {
	width: 46px;
	height: 46px;
	background-position: -142px -84px;
}

.icn-go {
	width: 70px;
	height: 226px;
	position: absolute;
	top:50%;
	text-decoration: none !important;
	margin-top:-113px;
	background: url("@{pth-images}/go_sprite.png") no-repeat;
	cursor: pointer;
	z-index: 2;

	&.go-prev {
		left: 34px;
	}

	&.go-next {
		right: 34px;
		background-position: -70px 0;
	}
}

/*======================= .btn =============================*/

.btn {
	border-radius: 0;
	text-decoration: none;
}

.btn-sm {
	font-size: 14px;
	padding: 2px 11px;
}

/*======================= header =============================*/

.header-wrap {
	z-index: 10;
	position: fixed;
	top:37px;
	left:0;
	right: 0;

	.i-front & {
		position: relative;
		top:auto;
		padding: 37px 0 99px;
	}

	.b-header {
		height: 72px;
		padding:0 24px 0 24px;
		background-color: #fff;

		@media @q-1024 {
			padding:0;
			font-size: 13px;
		}


		nav {
			a {
				color: @gray-darker;
				padding-top: 26px;
				padding-bottom: 26px;
				text-align: center;
				position: relative;
				text-decoration: none;

				@media @q-1024 {
					width: 9.6%;
					padding-bottom: 28px;
				}


				&:after {
					display:block;
					content: '';
					position: absolute;
					bottom:0;
					left:10px;
					right: 10px;
					height: 4px;
					.opacity(0);
					background-color: #fff;
					.transition(opacity .5s ease);
				}

				&:hover,
				&:focus,
				&.active {
					color:@gray-darker;
					text-decoration: none;

					&:after {
						background-color: @violet;
						.opacity(1);
					}
				}

				&.green {
					&:hover,
					&:focus,
					&.active {
						&:after {
							background-color: @green;
						}
					}
				}

				&.lilac {
					&:hover,
					&:focus,
					&.active {
						&:after {
							background-color: @lilac;
						}
					}
				}

				&.red {
					&:hover,
					&:focus,
					&.active {
						&:after {
							background-color: @red;
						}
					}
				}

				&.yellow {
					&:hover,
					&:focus,
					&.active {
						&:after {
							background-color: @yellow;
						}
					}
				}

				&.logo {
					width: 263px;
					height: 103px;
					margin: -12px -12px 0 -9px;
					padding-top: 14px;
					background-image: url("@{pth-images}/under_logo.png");
					background-size: 100% auto;
					background-repeat: no-repeat;

					@media @q-1024 {
						margin-right: -20px;
						margin-left: -30px;
					}

					&:after {
						display: none;
					}

					&:hover,
					&:focus,
					&.active {
						&:after {
							display:none;
						}
					}
				}
			}
		}

		.sell-department {
			font-size: 12px;
			padding: 11px 0 0 10px;

			@media @q-1024 {
				padding: 11px 0 0;
			}

			span {
				white-space: nowrap;
				letter-spacing: -0.25px;
			}

			.btn-sm {
				margin-bottom: 5px;
			}

			.red {
				font-size: 14px;
				color: @red;
			}
		}

		.map-coord {
			padding-top: 13px;
			text-align: center;
			font-size: 13px;
			color: @gray-darker;
			text-decoration: none !important;
			margin: 0 17px 0 25px;

			.icn-map {
				margin-bottom:2px;
			}

			@media @q-1024 {
				margin: 0 0 0 22px;
			}

			&:hover,
			&:focus {
				.icn-map {
					background-position: -132px -32px;
				}
			}
		}
	}
}


/*======================= hexagon =============================*/

.over-hexa {
	.ib;
	height: 48px;
	width: 54px;
	padding:0 13px;
	overflow: hidden;
}

.i-hexagon {
	.ib;
	height: 50px;
	width: 28px;
	font-size: 21px;
	color: #fff;
	white-space:nowrap;
	line-height: 1;
	padding-top: 16px;
	text-align: center;
	font-style: normal;
	font-family:@font-family-bebasreg;
	position: relative;
	top:-1px;
	background: @violet;

	&.hexa-big {
		font-size:44px;
		letter-spacing: -2px;
		padding-top: 4px;
		text-align: left;
		font-family:@font-family-bebasbook;
		span {
			left:-2px;
		}

		@media @q-fix {
			padding-top: 7px;
		}
	}

	span,
	[class^="icn-"], [class*=" icn-"] {
		position: relative;
		z-index: 1;
	}

	.icn-print {
		left: -2px;
	}
	.icn-calc {
		right: -2px;
	}

	&:after,
	&:before {
		display:block;
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top:0;
		border-top:25px solid transparent;
		border-top:25px solid fade(#000,0%);
		border-bottom:25px solid transparent;
		border-bottom:25px solid fade(#000,0%);
		z-index: 0;
	}

	&:after {
		right: -13px;
		border-left:14px solid @violet;
	}
	&:before {
		left:-13px;
		border-right:14px solid @violet;
	}

	&.green {
		background: @green;

		&:after {
			border-left-color:@green;
		}
		&:before {
			border-right-color:@green;
		}
	}
	&.yellow {
		background: @yellow;

		&:after {
			border-left-color:@yellow;
		}
		&:before {
			border-right-color:@yellow;
		}
	}
	&.red {
		background: @red;

		&:after {
			border-left-color:@red;
		}
		&:before {
			border-right-color:@red;
		}
	}
	&.lilac {
		background: @lilac;

		&:after {
			border-left-color:@lilac;
		}
		&:before {
			border-right-color:@lilac;
		}
	}
}

.over-wl-hexa {
	float: right;
	height: 40px;
	margin-right: -15px;
	overflow: hidden;
	&.t-1 {
		margin-top: -1px;
	}

	.wl-hexa {
		top:-1px;
	}
}

.wl-hexa {
	.ib;
	height: 44px;
	padding: 0 2px 0 0;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&.wl-first-hexa {
		float: right;
		margin-right: -15px;
	}

	&.t-2 {
		margin-top: -2px;
	}

	&:after {
		display:block;
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top:-4px;
		right: 0;
		border-left:15px solid #fff;
		border-top:26px solid transparent;
		border-top:26px solid fade(#000,0%);
		border-bottom:24px solid transparent;
		border-bottom:24px solid fade(#000,0%);
		z-index: 0;
	}

	&:before {
		display:block;
		content: '';
		width: 10px;
		height: 44px;
		position: absolute;
		top:-1px;
		right: 15px;
		background: #fff;
		z-index: 0;
	}
}

.label-hexa {
	.ib;
	height: 43px;
	position: relative;
	min-width: 91px;
	color: #fff;
	font-size: 10px;
	line-height: 1.2;
	text-decoration: none;
	font-style: normal;
	padding: 3px 0 0 17px;
	margin: 1px 12px 0 0;
	background: @green;
	white-space: nowrap;
	z-index: 1;

	b,span {
		position: relative;
		z-index: 4;
	}

	@media all and (max-device-width:1280px) {
		width: 96px;
		min-width:inherit;

		b,span {
			letter-spacing: -0.5px;
		}
	}

	&:after {
		display:block;
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top:-1px;
		right: -11px;
		border-left:12px solid @green;
		border-top:22px solid transparent;
		border-top:22px solid fade(#000,0%);
		border-bottom:20px solid transparent;
		border-bottom:20px solid fade(#000,0%);
	}

	&:hover,
	&:active {
		color: #fff;
		background: darken(@green,10%);
		text-decoration: none;

		&:after {
			border-left-color:darken(@green,10%);
		}
	}

	.square {
		position: absolute;
		top:3px;
		right: 0;
	}

	&.sold {
		background: @red;

		&:after {
			border-left-color:@red;
		}

		&:hover,
		&:active {
			background: darken(@red,10%);

			&:after {
				border-left-color:darken(@red,10%);
			}
		}
	}

	&.reserved {
		background: @yellow;

		&:after {
			border-left-color:@yellow;
		}

		&:hover,
		&:active {
			background: darken(@yellow,10%);

			&:after {
				border-left-color:darken(@yellow,10%);
			}
		}
	}
}


.hexa-bd {
	height: 44px;
	width: 26px;
	margin:0 13px;
	padding: 0;
	overflow: visible;
	background: @lilac;
	position: relative;

	&:after,
	&:before {
		display:block;
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top:0;
		border-top:22px solid transparent;
		border-top:22px solid fade(#000,0%);
		border-bottom:22px solid transparent;
		border-bottom:22px solid fade(#000,0%);
		z-index: 0;
	}

	&:after,
	&:before {
		z-index: 1;
	}

	&:after {
		right: -13px;
		border-left:13px solid @lilac;
	}
	&:before {
		left:-13px;
		border-right:13px solid @lilac;
	}

	.i-hexagon {
		top:1px;
		width: 26px;
		height: 42px;
		color: @lilac;
		font-size: 35px;
		padding: 0;
		line-height: 42px;
		background: #fff;

		@media all and (max-device-width:1280px) {
			padding-top:5px;
		}

		span {
			position: relative;
			z-index: 3;

			@media all and (max-device-width:1280px) {
				.ib;
				width: 26px;
				height: 36px;
				background: #fff;
			}
		}

		&:after,
		&:before {
			z-index: 2;
			top:0;
			border-top-width: 21px;
			border-bottom-width: 21px;
		}

		&:after {
			right: -12px;
			border-left:12px solid #fff;
		}
		&:before {
			left:-12px;
			border-right:12px solid #fff;
		}
	}
}

.over-hexa-bd {
	height: 44px;
	overflow: hidden;

	.hexa-bd {
		height: 46px;
		top:-1px;

		&:after,
		&:before {
			top:0;
			border-top-width:23px;
			border-bottom-width:22px;
		}

		&:after {
			right: -12px;
			border-left-width:13px;
		}
		&:before {
			left:-12px;
			border-right-width:13px;
		}


		.i-hexagon {
			top:2px;
			height: 42px;

			&:after,
			&:before {
				z-index: 2;
				top:0;
				border-top-width: 21px;
				border-bottom-width: 21px;
			}

			&:after {
				right: -11px;
				border-left-width:12px;
			}
			&:before {
				left:-11px;
				border-right-width:12px;
			}
		}
	}

	&.green {
		.hexa-bd {
			background-color: @green;
			&:after {
				border-left-color:@green;
			}
			&:before {
				border-right-color:@green;
			}
			.i-hexagon {
				color: @green;
			}
		}
	}

	&.red {
		.hexa-bd {
			background-color: @red;
			&:after {
				border-left-color:@red;
			}
			&:before {
				border-right-color:@red;
			}
			.i-hexagon {
				color: @red;
			}
		}
	}

	&.violet {
		.hexa-bd {
			background-color: @violet;
			&:after {
				border-left-color:@violet;
			}
			&:before {
				border-right-color:@violet;
			}
			.i-hexagon {
				color: @violet;
			}
		}
	}

	&.yellow {
		.hexa-bd {
			background-color: @yellow;
			&:after {
				border-left-color:@yellow;
			}
			&:before {
				border-right-color:@yellow;
			}
			.i-hexagon {
				color: @yellow;
			}
		}
	}

	&.small-txt {

		.i-hexagon{
			padding-top: 5px;
			font-family: @font-family-sans-serif;
			font-size: 11px;
			line-height: 1.4;
			letter-spacing: normal;
		}
	}
}

.fancybox-skin {
	border-radius:0 !important;
}

/*======================= feature list =============================*/

.ft-list {
	color: #fff;
	font-size: 0;
	margin: 0;
	padding: 0;

	.item {
		.ib;
		width: 33.3333%;
		.clearfix;
		margin: 0;
		padding: 0 0 0 87px;

		@media @q-1024 {
			padding-left: 60px;
		}

		.over-hexa {
			float: left;
		}

		p {
			font-size: 14px;
			margin: 0 0 0 70px;
			line-height: 1.1;
		}

		b {
			font-size:23px;
		}
	}
}

.landing-body {
	padding-top: 180px;
	position: relative;
	z-index: 4;
}

.over-content {
	position: fixed;
	top:206px;
	bottom: 109px;
	left: 0;
	right:0;

	.i-front & {
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
	}
}

.i-front {
	background: url("@{pth-images}/back.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;

	/* 1.25 dpr */
	@media
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi){
		background: url("@{pth-images}/back_retina.jpg") no-repeat;
	}

	/* 1.3 dpr */
	@media
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-resolution: 124.8dpi){
		background: url("@{pth-images}/back_retina.jpg") no-repeat;
	}

	/* 1.5 dpr */
	@media
	(-webkit-min-device-pixel-ratio: 1.5),
	(min-resolution: 144dpi){
		background: url("@{pth-images}/back_retina.jpg") no-repeat;
	}
}

.b-content {
	height: 100%;
	overflow: hidden;
	padding: 35px 27px;
	min-height: 300px;
	position: relative;
	background: #fff;

	&.with-oper-list {
		padding-bottom: 100px;
	}

}

.b-txt {
	line-height: 1.75;
	font-size: 12px;
	margin-right: -3px;

	p {
		margin-bottom: 20px;
	}

	&.go-top {
		margin-top: -5px;
	}

	&.b-lh-txt {
		line-height: 1.9;
		margin-right: 0;

		p {
			margin-bottom: 27px;
		}
	}
}

.ya-map {
	height: 322px;
	border-bottom: 4px solid @violet;
	margin-bottom: 25px;
}

@media @q-1024 {

	.wide-txt {
		width: 100%;
		float: none;
		clear: both;
	}

}


/*======================= bubbles =============================*/
.bubble {
	.ib;
	color: #fff;
	text-align: center;
	position: absolute;
	text-decoration: none;

	&:hover,
	&:focus {
		color: #fff;
	}
}

.bb1 {
	position: fixed;
}

.bub1 {
	top:44%;
	left: 17%;
}

.bub2 {
	top:33%;
	left: 39%;
}

.bub3 {
	top:38%;
	left: 2%;
}

.b-title {
	display: block;
	font-size:44px;
	color: @violet;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: -2px;
	padding-bottom: 5px;
	font-family: @font-family-bebasreg;

	b {
		font-family: @font-family-bebasbook;
	}

	.yellow & {
		color: @yellow;
	}

	.green & {
		color: @green;
	}

	.lilac & {
		color: @lilac;
	}

	.red & {
		color: @red;
	}
}

.ap-info {
	margin-bottom: 17px;
	white-space: nowrap;
}

.choose-link {
	display: block;
	color: @violet;
	text-align: center;
	text-decoration: underline;

	&:hover,
	&:focus {
		color:@violet;
		text-decoration: none;
	}

	.yellow & {
		color: @yellow;

		&:hover,
		&:focus {
			color:@yellow;
		}
	}

	.green & {
		color: @green;

		&:hover,
		&:focus {
			color:@green;
		}
	}

	.lilac & {
		color: @lilac;

		&:hover,
		&:focus {
			color:@lilac;
		}
	}

	.red & {
		color: @red;

		&:hover,
		&:focus {
			color:@red;
		}
	}
}

.big-bubble {
	.ib;
	height: 234px;
	width: 290px;
	padding:0 80px 0 70px;
	position: absolute;
	overflow: hidden;
	margin: 0 8px 0 0;
	z-index: 1;

	&.to-left {
		margin: 0 0 0 8px;
		padding:0 70px 0 80px;
	}

	&:after {
		display:block;
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top:-1px;
		right: 0;
		border-left:70px solid @violet;
		border-top:118px solid transparent;
		border-top:118px solid fade(#000,0%);
		border-bottom:118px solid transparent;
		border-bottom:118px solid fade(#000,0%);
		z-index: 0;
	}

	&:before {
		display:block;
		content: '';
		width: 10px;
		height: 238px;
		position: absolute;
		top:0;
		right: 70px;
		background: @violet;
		z-index: 0;
	}

	&.to-left {

		&:after {
			border-left:none;
			right: auto;
			left: 0;
			border-right:70px solid @violet;
		}
		&:before {
			right: auto;
			left: 70px;
		}
	}


	.in-bubble {
		.ib;
		height: 238px;
		width: 140px;
		padding-top: 19px;
		font-size: 12px;
		color: @gray-darker;
		line-height: 26px;
		text-align: center;
		font-style: normal;
		position: relative;
		top:-1px;
		background: #fff;
		z-index: 1;

		&:after,
		&:before {
			display:block;
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top:0;
			border-top:118px solid transparent;
			border-top:118px solid fade(#000,0%);
			border-bottom:118px solid transparent;
			border-bottom:118px solid fade(#000,0%);
			z-index: -1;
		}

		&:after {
			right: -69px;
			border-left:70px solid #fff;
		}
		&:before {
			left:-69px;
			border-right:70px solid #fff;
		}
	}

	&.yellow {
		&:after {
			border-left-color:@yellow;
		}

		&:before {
			background: @yellow;
		}

		&.to-left {
			&:after {
				border-right-color:@yellow;
			}
		}
	}

	&.green {
		&:after {
			border-left-color:@green;
		}

		&:before {
			background: @green;
		}
		&.to-left {
			&:after {
				border-right-color:@green;
			}
		}
	}

	&.lilac {
		&:after {
			border-left-color:@lilac;
		}

		&:before {
			background: @lilac;
		}
		&.to-left {
			&:after {
				border-right-color:@lilac;
			}
		}
	}

	&.red {
		&:after {
			border-left-color:@red;
		}

		&:before {
			background: @red;
		}
		&.to-left {
			&:after {
				border-right-color:@red;
			}
		}
	}

}

.bubble-list {
	position: absolute;
	left: 0;
	right: 0;
	top:50%;
	white-space: nowrap;
	margin-top: -155px;
}

.huge-bubble {
	.ib;
	height: 310px;
	width: 360px;
	padding:0 90px;
	overflow: hidden;
	margin: 0 0 0 -0.3%;
	z-index: 1;

	@media @q-1024 {
		width: 320px;
		padding: 0 70px;
	}


	.in-bubble {
		.ib;
		height: 312px;
		width: 180px;
		padding: 35px 0 0;
		font-size: 13px;
		color: @lilac;
		line-height: normal;
		text-align: center;
		font-style: normal;
		font-family: @font-family-sans-serif;
		position: relative;
		top:-1px;
		background: #fff;
		z-index: 1;

		&:after,
		&:before {
			display:block;
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top:0;
			border-top:156px solid transparent;
			border-top:156px solid fade(#000,0%);
			border-bottom:156px solid transparent;
			border-bottom:156px solid fade(#000,0%);
			z-index: -1;
		}

		&:after {
			right: -89px;
			border-left:90px solid #fff;

			@media @q-1024 {
				right: -69px;
				border-left-width: 70px;
			}
		}
		&:before {
			left:-89px;
			border-right:90px solid #fff;

			@media @q-1024 {
				left: -69px;
				border-right-width: 70px;
			}
		}

	}

	.ap-info {
		font-weight: bold;
		min-height: 35px;
	}

	.choose-link {
		color: @lilac;
		font-size: 11px;
		text-decoration: none;

		[class^="icn-"], [class*=" icn-"] {
			margin-right: 10px;
		}

		&:hover,
		&:active {
			text-decoration:underline;

			[class^="icn-"], [class*=" icn-"] {
				text-decoration: none;
			}
		}
	}

	.house-number {
		.ib;
		width: 177px;
		height: 153px;
		padding: 75px 0 0;
		margin-bottom: 28px;
		text-align: center;
		font-size: 91px;
		line-height: 1;
		letter-spacing: -3px;
		font-style: normal;
		font-family: @font-family-bebasbook;
		background: url("@{pth-images}/house_sprite.png") no-repeat;
	}

	&.active {
		.in-bubble {
			color: #fff;
			background: @lilac;

			&:after {
				border-left-color:@lilac;
			}
			&:before {
				border-right-color:@lilac;
			}
		}

		.house-number {
			background-position: -177px 0;
		}

		.choose-link {
			color: #fff;
		}
		.icn-lilac-choose-right {
			.icn-white-choose-right;
		}
	}
}


/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin:0 17px 0 0;
	overflow:hidden;
	position: relative;
	background: #fff;

	&:focus {
		outline:none;
	}
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin:0;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:10px;
	top:0;
	bottom: 0;
	right:0;
	position: absolute;
	z-index: 5;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	background: #ccc;
	background: fade(#000,20%);
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	left:0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:10px;
	height:100%;
	margin:0 auto;
	text-align:center;
	background: @violet;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:block;
	position:relative;
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	top:100%;
	margin-top:-40px;
}

/*======================= item list =============================*/
.item-list {
	padding-bottom: 8px;
	margin-bottom: 27px;
	margin-right: 12px;
	font-size: 0;
	.txt,
	.m-title {
		.ib;
		margin:0 10px 0 0;
		color: @lilac;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}


	.item {
		.ib;
		position: relative;
		text-decoration: none;

		&:after {
			display:block;
			content: '';
			position: absolute;
			height: 4px;
			left: 12px;
			right: 12px;
			bottom: -8px;
			opacity:0;
			background: @lilac;
			.transition(opacity .3s ease);
		}

		&:hover,
		&:active,
		&.active {

			&:after {
				opacity:1;
			}
		}
	}
}

/*======================= state list =============================*/
.state-list {
	margin-bottom: 27px;
	.item {
		.ib;
		font-size: 12px;
		margin-left:20px;

		.txt {
			margin-left: 5px;
		}
	}
}


.flat-list {
	width: 895px;
	margin-bottom: 20px;
}

.oper-list {
	margin-bottom: 20px;

	&.simple {
		position: absolute;
		bottom: 35px;
		right: 27px;
		margin: 0;

		a {
			text-decoration: none;
		}

		.txt {
			.ib;
			line-height: 1.2;
			margin: 0 15px 0 5px;
			color: @lilac;
			font-size: 11px;
		}
	}

	a {
		&:hover,
		&:active {
			.txt {
				color:darken(@lilac,10%);
			}
			.lilac {
				background:darken(@lilac,10%);

				&:after {
					border-left-color:darken(@lilac,10%);
				}
				&:before {
					border-right-color:darken(@lilac,10%);
				}
			}
		}
	}
}

/* _pika slider
============================= */
.b-slider {
	max-width: 321px;
	margin-bottom: 37px;
}
#fancybox-img {
	max-width: inherit;
}
#fancybox-close {
	right: -30px !important;
}
.jcarousel-skin-pika {
	max-width: 321px;
	height: 65px;
	overflow: hidden;
	margin: 0;
	font-size: 0;
	a {
		.ibt;
		height: 65px;
		width: 31%;
		overflow: hidden;
		text-align: center;
		margin: 0 3% 0 0;
		overflow: hidden;
		padding: 0;
		.opacity(.7);
		background: none;

		&:last-child {
			margin-right:0;
		}

		&.active {
			.opacity(1);
		}
	}
}
.pika-stage {
	border:3px solid @lilac;
	height: 200px;
	max-width:321px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;

	img {
		max-width: none;
		max-height: 206px;
	}

	.icn-fancy {
		position: absolute;
		top:50%;
		left:50%;
		margin: -24px 0 0 -24px;
		z-index: 1;
		cursor: pointer;
	}
}

.reel-gallery {
	max-width: 321px;
	height: 200px;
	margin-bottom: 37px;
	overflow: hidden;
	position: relative;
	border:3px solid @lilac;

	img {
		max-width: none;
	}

	.icn-play {
		position: absolute;
		top:50%;
		left:50%;
		margin: -23px 0 0 -23px;
		z-index: 1;
		cursor: pointer;
	}
}

.right-rsb {
	position: absolute;
	top:35px;
	right: 10px;
	bottom: 35px;
}

.ib {
	.ib;
}


.link-list {
	font-size: 0;
	text-align: left;
	margin-right: 130px;
	li {
		.ib;
		margin: 0 10px 2px 0;
		font-size: 14px;

		a {
			.underlined;
		}

		&.active {
			a {
				color: @green;
				text-decoration: underline !important;
			}
		}
	}
}

.hex-list {
	width: 675px;
	margin: 40px auto 110px;
	position: relative;
	font-size: 0;
	text-align: center;
}

/*======================= hexagon photogallery =============================*/
.hexagon {
	.ibt;
	width: 225px;
	height: 270px;
	margin-bottom: -76px;
	font-size: 16px;
	overflow: hidden;
	visibility: hidden;
	.transform(rotate(120deg));
	cursor: pointer;

	.hexagon-in1 {
		overflow: hidden;
		width: 100%;
		height: 100%;
		.transform(rotate(-60deg));
	}

	.hexagon-in2 {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50%;
		visibility: visible;
		.transform(rotate(-60deg));
	}
}


/*======================= news list under hexagon gallery =============================*/
.news-list {
	.col-md-3 {
		width: 33.3333%;
	}

	.over-hexa-bd {
		float: left;
	}

	.b-about {
		margin:-4px 0 10px 70px;

		.green {
			&:hover,
			&:active {
				color:@green;
			}
		}

		p {
			margin-top: 2px;
			font-size: 12px;
		}
	}
}


/*======================= footer =============================*/

.over-page {
	height: auto;
	min-height: 100% !important;
	margin-bottom: -109px;

	.spacer {
		height: 123px;
	}
}

.footer-wrap {
	z-index: 10;
	position:fixed;
	bottom: 18px;
	left:0;
	right: 0;

	.i-front & {
		height: 109px;
		position: relative;
		bottom: auto;
		padding: 0 0 18px;
	}

	.b-footer {
		height: 77px;
		padding: 16px 33px 0;
		background: #fff;

		@media @q-1024 {
			padding: 16px 24px 0;
		}
	}

	.p-copy {
		font-size: 11px;
		margin:15px 154px 0 0;

		@media @q-1024 {
			margin-right: 50px;
		}
	}

	nav {
		margin-top: 11px;

		a {
			.ib;
			font-size: 12px;
			text-decoration: underline;
			margin-right: 17px;
			color:@gray-light;

			@media @q-1024 {
				margin-right: 10px;
			}

			&:hover,
			&:focus,
			&.active {
				color:@violet;
				text-decoration: none;
			}

			&.green {
				&:hover,
				&:focus,
				&.active {
					color: @green;
				}
			}

			&.lilac {
				&:hover,
				&:focus,
				&.active {
					color: @lilac;
				}
			}

			&.red {
				&:hover,
				&:focus,
				&.active {
					color: @red;
				}
			}

			&.yellow {
				&:hover,
				&:focus,
				&.active {
					color: @yellow;
				}
			}
		}
	}
}

.present-pdf {
	font-size: 11px;
	.over-hexa {
		margin-left: 11px;
	}

	&:hover,
	&:focus {
		color: darken(@green,10%);
		text-decoration: none;
	}
}