@font-face {
  font-family: 'BebasNeue Regular';
  src: url('../fonts/BebasNeue Regular.eot');
  src: url('../fonts/BebasNeue Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Regular.woff') format('woff'), url('../fonts/BebasNeue Regular.ttf') format('truetype'), url('../fonts/BebasNeue Regular.svg#BebasNeue Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeue Book';
  src: url('../fonts/BebasNeue Book.eot');
  src: url('../fonts/BebasNeue Book.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Book.woff') format('woff'), url('../fonts/BebasNeue Book.ttf') format('truetype'), url('../fonts/BebasNeue Book.svg#BebasNeue Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
.lsn {
  list-style-type: none;
  padding: 0;
}
.relative {
  position: relative;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.upper {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.underlined {
  text-decoration: underline;
}
.underlined:hover,
.underlined:active,
.underlined.active {
  text-decoration: none;
}
.non-underlined {
  text-decoration: none;
}
.non-underlined:hover,
.non-underlined:active,
.non-underlined.active {
  text-decoration: underline;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #2d2d2d;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #070707;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #666666;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #666666;
}
.text-primary {
  color: #2d2d2d;
}
a.text-primary:hover {
  color: #141414;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #2d2d2d;
}
a.bg-primary:hover {
  background-color: #141414;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #666666;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #666666;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1236px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10 {
  float: left;
}
.col-xs-10 {
  width: 100%;
}
.col-xs-9 {
  width: 90%;
}
.col-xs-8 {
  width: 80%;
}
.col-xs-7 {
  width: 70%;
}
.col-xs-6 {
  width: 60%;
}
.col-xs-5 {
  width: 50%;
}
.col-xs-4 {
  width: 40%;
}
.col-xs-3 {
  width: 30%;
}
.col-xs-2 {
  width: 20%;
}
.col-xs-1 {
  width: 10%;
}
.col-xs-pull-10 {
  right: 100%;
}
.col-xs-pull-9 {
  right: 90%;
}
.col-xs-pull-8 {
  right: 80%;
}
.col-xs-pull-7 {
  right: 70%;
}
.col-xs-pull-6 {
  right: 60%;
}
.col-xs-pull-5 {
  right: 50%;
}
.col-xs-pull-4 {
  right: 40%;
}
.col-xs-pull-3 {
  right: 30%;
}
.col-xs-pull-2 {
  right: 20%;
}
.col-xs-pull-1 {
  right: 10%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-10 {
  left: 100%;
}
.col-xs-push-9 {
  left: 90%;
}
.col-xs-push-8 {
  left: 80%;
}
.col-xs-push-7 {
  left: 70%;
}
.col-xs-push-6 {
  left: 60%;
}
.col-xs-push-5 {
  left: 50%;
}
.col-xs-push-4 {
  left: 40%;
}
.col-xs-push-3 {
  left: 30%;
}
.col-xs-push-2 {
  left: 20%;
}
.col-xs-push-1 {
  left: 10%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-10 {
  margin-left: 100%;
}
.col-xs-offset-9 {
  margin-left: 90%;
}
.col-xs-offset-8 {
  margin-left: 80%;
}
.col-xs-offset-7 {
  margin-left: 70%;
}
.col-xs-offset-6 {
  margin-left: 60%;
}
.col-xs-offset-5 {
  margin-left: 50%;
}
.col-xs-offset-4 {
  margin-left: 40%;
}
.col-xs-offset-3 {
  margin-left: 30%;
}
.col-xs-offset-2 {
  margin-left: 20%;
}
.col-xs-offset-1 {
  margin-left: 10%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {
    float: left;
  }
  .col-sm-10 {
    width: 100%;
  }
  .col-sm-9 {
    width: 90%;
  }
  .col-sm-8 {
    width: 80%;
  }
  .col-sm-7 {
    width: 70%;
  }
  .col-sm-6 {
    width: 60%;
  }
  .col-sm-5 {
    width: 50%;
  }
  .col-sm-4 {
    width: 40%;
  }
  .col-sm-3 {
    width: 30%;
  }
  .col-sm-2 {
    width: 20%;
  }
  .col-sm-1 {
    width: 10%;
  }
  .col-sm-pull-10 {
    right: 100%;
  }
  .col-sm-pull-9 {
    right: 90%;
  }
  .col-sm-pull-8 {
    right: 80%;
  }
  .col-sm-pull-7 {
    right: 70%;
  }
  .col-sm-pull-6 {
    right: 60%;
  }
  .col-sm-pull-5 {
    right: 50%;
  }
  .col-sm-pull-4 {
    right: 40%;
  }
  .col-sm-pull-3 {
    right: 30%;
  }
  .col-sm-pull-2 {
    right: 20%;
  }
  .col-sm-pull-1 {
    right: 10%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-10 {
    left: 100%;
  }
  .col-sm-push-9 {
    left: 90%;
  }
  .col-sm-push-8 {
    left: 80%;
  }
  .col-sm-push-7 {
    left: 70%;
  }
  .col-sm-push-6 {
    left: 60%;
  }
  .col-sm-push-5 {
    left: 50%;
  }
  .col-sm-push-4 {
    left: 40%;
  }
  .col-sm-push-3 {
    left: 30%;
  }
  .col-sm-push-2 {
    left: 20%;
  }
  .col-sm-push-1 {
    left: 10%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-10 {
    margin-left: 100%;
  }
  .col-sm-offset-9 {
    margin-left: 90%;
  }
  .col-sm-offset-8 {
    margin-left: 80%;
  }
  .col-sm-offset-7 {
    margin-left: 70%;
  }
  .col-sm-offset-6 {
    margin-left: 60%;
  }
  .col-sm-offset-5 {
    margin-left: 50%;
  }
  .col-sm-offset-4 {
    margin-left: 40%;
  }
  .col-sm-offset-3 {
    margin-left: 30%;
  }
  .col-sm-offset-2 {
    margin-left: 20%;
  }
  .col-sm-offset-1 {
    margin-left: 10%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
    float: left;
  }
  .col-md-10 {
    width: 100%;
  }
  .col-md-9 {
    width: 90%;
  }
  .col-md-8 {
    width: 80%;
  }
  .col-md-7 {
    width: 70%;
  }
  .col-md-6 {
    width: 60%;
  }
  .col-md-5 {
    width: 50%;
  }
  .col-md-4 {
    width: 40%;
  }
  .col-md-3 {
    width: 30%;
  }
  .col-md-2 {
    width: 20%;
  }
  .col-md-1 {
    width: 10%;
  }
  .col-md-pull-10 {
    right: 100%;
  }
  .col-md-pull-9 {
    right: 90%;
  }
  .col-md-pull-8 {
    right: 80%;
  }
  .col-md-pull-7 {
    right: 70%;
  }
  .col-md-pull-6 {
    right: 60%;
  }
  .col-md-pull-5 {
    right: 50%;
  }
  .col-md-pull-4 {
    right: 40%;
  }
  .col-md-pull-3 {
    right: 30%;
  }
  .col-md-pull-2 {
    right: 20%;
  }
  .col-md-pull-1 {
    right: 10%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-10 {
    left: 100%;
  }
  .col-md-push-9 {
    left: 90%;
  }
  .col-md-push-8 {
    left: 80%;
  }
  .col-md-push-7 {
    left: 70%;
  }
  .col-md-push-6 {
    left: 60%;
  }
  .col-md-push-5 {
    left: 50%;
  }
  .col-md-push-4 {
    left: 40%;
  }
  .col-md-push-3 {
    left: 30%;
  }
  .col-md-push-2 {
    left: 20%;
  }
  .col-md-push-1 {
    left: 10%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-10 {
    margin-left: 100%;
  }
  .col-md-offset-9 {
    margin-left: 90%;
  }
  .col-md-offset-8 {
    margin-left: 80%;
  }
  .col-md-offset-7 {
    margin-left: 70%;
  }
  .col-md-offset-6 {
    margin-left: 60%;
  }
  .col-md-offset-5 {
    margin-left: 50%;
  }
  .col-md-offset-4 {
    margin-left: 40%;
  }
  .col-md-offset-3 {
    margin-left: 30%;
  }
  .col-md-offset-2 {
    margin-left: 20%;
  }
  .col-md-offset-1 {
    margin-left: 10%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1280px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
    float: left;
  }
  .col-lg-10 {
    width: 100%;
  }
  .col-lg-9 {
    width: 90%;
  }
  .col-lg-8 {
    width: 80%;
  }
  .col-lg-7 {
    width: 70%;
  }
  .col-lg-6 {
    width: 60%;
  }
  .col-lg-5 {
    width: 50%;
  }
  .col-lg-4 {
    width: 40%;
  }
  .col-lg-3 {
    width: 30%;
  }
  .col-lg-2 {
    width: 20%;
  }
  .col-lg-1 {
    width: 10%;
  }
  .col-lg-pull-10 {
    right: 100%;
  }
  .col-lg-pull-9 {
    right: 90%;
  }
  .col-lg-pull-8 {
    right: 80%;
  }
  .col-lg-pull-7 {
    right: 70%;
  }
  .col-lg-pull-6 {
    right: 60%;
  }
  .col-lg-pull-5 {
    right: 50%;
  }
  .col-lg-pull-4 {
    right: 40%;
  }
  .col-lg-pull-3 {
    right: 30%;
  }
  .col-lg-pull-2 {
    right: 20%;
  }
  .col-lg-pull-1 {
    right: 10%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-10 {
    left: 100%;
  }
  .col-lg-push-9 {
    left: 90%;
  }
  .col-lg-push-8 {
    left: 80%;
  }
  .col-lg-push-7 {
    left: 70%;
  }
  .col-lg-push-6 {
    left: 60%;
  }
  .col-lg-push-5 {
    left: 50%;
  }
  .col-lg-push-4 {
    left: 40%;
  }
  .col-lg-push-3 {
    left: 30%;
  }
  .col-lg-push-2 {
    left: 20%;
  }
  .col-lg-push-1 {
    left: 10%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-10 {
    margin-left: 100%;
  }
  .col-lg-offset-9 {
    margin-left: 90%;
  }
  .col-lg-offset-8 {
    margin-left: 80%;
  }
  .col-lg-offset-7 {
    margin-left: 70%;
  }
  .col-lg-offset-6 {
    margin-left: 60%;
  }
  .col-lg-offset-5 {
    margin-left: 50%;
  }
  .col-lg-offset-4 {
    margin-left: 40%;
  }
  .col-lg-offset-3 {
    margin-left: 30%;
  }
  .col-lg-offset-2 {
    margin-left: 20%;
  }
  .col-lg-offset-1 {
    margin-left: 10%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary {
  color: #ffffff;
  background-color: #2d2d2d;
  border-color: #202020;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #141414;
  border-color: #020202;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2d2d2d;
  border-color: #202020;
}
.btn-primary .badge {
  color: #2d2d2d;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #00bb5e;
  border-color: #00a251;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #008844;
  border-color: #006432;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #00bb5e;
  border-color: #00a251;
}
.btn-success .badge {
  color: #00bb5e;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #fd4435;
  border-color: #fd2d1c;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #fd1502;
  border-color: #d91202;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #fd4435;
  border-color: #fd2d1c;
}
.btn-danger .badge {
  color: #fd4435;
  background-color: #ffffff;
}
.btn-link {
  color: #2d2d2d;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #070707;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #666666;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.clearfix,
.dl-horizontal dd,
.container,
.container-fluid,
.row {
  zoom: 1;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*======================= LANDING PAGE =============================*/
.container {
  width: 1236px !important;
}
@media screen and (max-width: 1279px) {
  .container {
    width: 980px !important;
  }
}
body,
html {
  height: 100%;
}
img {
  max-width: 100%;
  width: auto\9;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10 {
  float: left;
}
.col-md-10 {
  width: 100%;
}
.col-md-9 {
  width: 90%;
}
.col-md-8 {
  width: 80%;
}
.col-md-7 {
  width: 70%;
}
.col-md-6 {
  width: 60%;
}
.col-md-5 {
  width: 50%;
}
.col-md-4 {
  width: 40%;
}
.col-md-3 {
  width: 30%;
}
.col-md-2 {
  width: 20%;
}
.col-md-1 {
  width: 10%;
}
a {
  text-decoration: underline;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.back-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.back-bg img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: inherit;
}
.landing-over {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.shd {
  display: block;
  opacity: 0.01;
  filter: alpha(opacity=1);
  position: fixed;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.shd:hover,
.shd:active {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 4;
}
.shd1 {
  z-index: 3;
  background-image: url("../img/house1.png");
}
.shd2 {
  z-index: 2;
  background-image: url("../img/house2.png");
}
.shd3 {
  z-index: 1;
  background-image: url("../img/house3.png");
}
.red {
  color: #fd4435;
}
.green {
  color: #00bb5e;
}
.violet {
  color: #5457f5;
}
.lilac {
  color: #aaabfd;
}
.yellow {
  color: #fbd01e;
}
.note {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  padding: 6px 10px;
  line-height: 1.2;
  color: #fff;
  background: #5457f5;
}
/*======================= titles =============================*/
.l-title {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  color: #5457f5;
  font-size: 18px;
  line-height: 1.2;
  padding: 7px 10px 6px;
  margin: 0 0 24px;
  font-weight: bold;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-transform: uppercase;
  border: 2px solid #5457f5;
}
.l-title.bi {
  margin-bottom: 60px;
}
.l-title.ti {
  margin-top: 20px;
}
.l-title.no-indent {
  margin-bottom: 0;
}
.l-title.l-wide-title {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 1279px) {
  .l-title.l-wide-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
}
.l-title.lilac {
  color: #aaabfd;
  border-color: #aaabfd;
}
.l-title.green {
  color: #00bb5e;
  border-color: #00bb5e;
}
.l-title.red {
  color: #fd4435;
  border-color: #fd4435;
}
.l-title.yellow {
  color: #fbd01e;
  border-color: #fbd01e;
}
.l-title.acid-green {
  color: #0f0;
  border-color: #0f0;
}
.m-title {
  font-size: 15px;
  color: #aaabfd;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  margin-bottom: 15px;
}
.flat-title {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  padding: 6px 12px 0;
  line-height: 1.1;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 0 0 55px;
  text-transform: uppercase;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background: #aaabfd;
}
.flat-title span {
  display: block;
  font-size: 53px;
  line-height: 1;
  font-weight: normal;
  letter-spacing: -3px;
  font-family: "BebasNeue Regular", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1279px) {
  .flat-title {
    padding: 5px 7px;
    font-size: 12px;
  }
}
/*======================= icns =============================*/
[class^="icn-"],
[class*=" icn-"] {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  margin: -2px 2px 0 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-image: url("../img/sprite.png");
}
.icn-logo {
  width: 124px;
  height: 74px;
  background-image: url("../img/logo.png");
  background-size: 100% auto;
}
.icn-map {
  width: 22px;
  height: 31px;
  background-position: -132px 0;
}
.icn-map:hover,
.icn-map:focus {
  background-position: -132px -32px;
}
.icn-sambo {
  width: 56px;
  height: 49px;
  background-position: -161px 0;
}
.icn-violet-choose {
  width: 28px;
  height: 28px;
  background-position: -158px -52px;
}
.icn-yellow-choose {
  width: 28px;
  height: 28px;
  background-position: -190px -52px;
}
.icn-green-choose {
  width: 28px;
  height: 28px;
  background-position: -223px -52px;
}
.icn-lilac-choose-right {
  width: 27px;
  height: 27px;
  background-position: -218px 0;
}
.icn-white-choose-right {
  width: 27px;
  height: 27px;
  background-position: -243px -24px;
}
.icn-print {
  width: 32px;
  height: 28px;
  background-position: 0 -82px;
}
.icn-calc {
  width: 25px;
  height: 27px;
  background-position: -36px -82px;
}
.icn-send {
  width: 27px;
  height: 26px;
  background-position: -64px -82px;
}
.icn-fancy {
  width: 48px;
  height: 48px;
  background-position: -92px -82px;
}
.icn-play {
  width: 46px;
  height: 46px;
  background-position: -142px -84px;
}
.icn-go {
  width: 70px;
  height: 226px;
  position: absolute;
  top: 50%;
  text-decoration: none !important;
  margin-top: -113px;
  background: url("../img/go_sprite.png") no-repeat;
  cursor: pointer;
  z-index: 2;
}
.icn-go.go-prev {
  left: 34px;
}
.icn-go.go-next {
  right: 34px;
  background-position: -70px 0;
}
/*======================= .btn =============================*/
.btn {
  border-radius: 0;
  text-decoration: none;
}
.btn-sm {
  font-size: 14px;
  padding: 2px 11px;
}
/*======================= header =============================*/
.header-wrap {
  z-index: 10;
  position: fixed;
  top: 37px;
  left: 0;
  right: 0;
}
.i-front .header-wrap {
  position: relative;
  top: auto;
  padding: 37px 0 99px;
}
.header-wrap .b-header {
  height: 72px;
  padding: 0 24px 0 24px;
  background-color: #fff;
}
@media screen and (max-width: 1279px) {
  .header-wrap .b-header {
    padding: 0;
    font-size: 13px;
  }
}
.header-wrap .b-header nav a {
  color: #222222;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  position: relative;
  text-decoration: none;
}
@media screen and (max-width: 1279px) {
  .header-wrap .b-header nav a {
    width: 9.6%;
    padding-bottom: 28px;
  }
}
.header-wrap .b-header nav a:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 4px;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: #fff;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.header-wrap .b-header nav a:hover,
.header-wrap .b-header nav a:focus,
.header-wrap .b-header nav a.active {
  color: #222222;
  text-decoration: none;
}
.header-wrap .b-header nav a:hover:after,
.header-wrap .b-header nav a:focus:after,
.header-wrap .b-header nav a.active:after {
  background-color: #5457f5;
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-wrap .b-header nav a.green:hover:after,
.header-wrap .b-header nav a.green:focus:after,
.header-wrap .b-header nav a.green.active:after {
  background-color: #00bb5e;
}
.header-wrap .b-header nav a.lilac:hover:after,
.header-wrap .b-header nav a.lilac:focus:after,
.header-wrap .b-header nav a.lilac.active:after {
  background-color: #aaabfd;
}
.header-wrap .b-header nav a.red:hover:after,
.header-wrap .b-header nav a.red:focus:after,
.header-wrap .b-header nav a.red.active:after {
  background-color: #fd4435;
}
.header-wrap .b-header nav a.yellow:hover:after,
.header-wrap .b-header nav a.yellow:focus:after,
.header-wrap .b-header nav a.yellow.active:after {
  background-color: #fbd01e;
}
.header-wrap .b-header nav a.logo {
  width: 263px;
  height: 103px;
  margin: -12px -12px 0 -9px;
  padding-top: 14px;
  background-image: url("../img/under_logo.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1279px) {
  .header-wrap .b-header nav a.logo {
    margin-right: -20px;
    margin-left: -30px;
  }
}
.header-wrap .b-header nav a.logo:after {
  display: none;
}
.header-wrap .b-header nav a.logo:hover:after,
.header-wrap .b-header nav a.logo:focus:after,
.header-wrap .b-header nav a.logo.active:after {
  display: none;
}
.header-wrap .b-header .sell-department {
  font-size: 12px;
  padding: 11px 0 0 10px;
}
@media screen and (max-width: 1279px) {
  .header-wrap .b-header .sell-department {
    padding: 11px 0 0;
  }
}
.header-wrap .b-header .sell-department span {
  white-space: nowrap;
  letter-spacing: -0.25px;
}
.header-wrap .b-header .sell-department .btn-sm {
  margin-bottom: 5px;
}
.header-wrap .b-header .sell-department .red {
  font-size: 14px;
  color: #fd4435;
}
.header-wrap .b-header .map-coord {
  padding-top: 13px;
  text-align: center;
  font-size: 13px;
  color: #222222;
  text-decoration: none !important;
  margin: 0 17px 0 25px;
}
.header-wrap .b-header .map-coord .icn-map {
  margin-bottom: 2px;
}
@media screen and (max-width: 1279px) {
  .header-wrap .b-header .map-coord {
    margin: 0 0 0 22px;
  }
}
.header-wrap .b-header .map-coord:hover .icn-map,
.header-wrap .b-header .map-coord:focus .icn-map {
  background-position: -132px -32px;
}
/*======================= hexagon =============================*/
.over-hexa {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  height: 48px;
  width: 54px;
  padding: 0 13px;
  overflow: hidden;
}
.i-hexagon {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  height: 50px;
  width: 28px;
  font-size: 21px;
  color: #fff;
  white-space: nowrap;
  line-height: 1;
  padding-top: 16px;
  text-align: center;
  font-style: normal;
  font-family: "BebasNeue Regular", Arial, Helvetica, sans-serif;
  position: relative;
  top: -1px;
  background: #5457f5;
}
.i-hexagon.hexa-big {
  font-size: 44px;
  letter-spacing: -2px;
  padding-top: 4px;
  text-align: left;
  font-family: "BebasNeue Book", Arial, Helvetica, sans-serif;
}
.i-hexagon.hexa-big span {
  left: -2px;
}
@media screen and (max-device-width:1279px) {
  .i-hexagon.hexa-big {
    padding-top: 7px;
  }
}
.i-hexagon span,
.i-hexagon [class^="icn-"],
.i-hexagon [class*=" icn-"] {
  position: relative;
  z-index: 1;
}
.i-hexagon .icn-print {
  left: -2px;
}
.i-hexagon .icn-calc {
  right: -2px;
}
.i-hexagon:after,
.i-hexagon:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-top: 25px solid transparent;
  border-top: 25px solid rgba(0, 0, 0, 0);
  border-bottom: 25px solid transparent;
  border-bottom: 25px solid rgba(0, 0, 0, 0);
  z-index: 0;
}
.i-hexagon:after {
  right: -13px;
  border-left: 14px solid #5457f5;
}
.i-hexagon:before {
  left: -13px;
  border-right: 14px solid #5457f5;
}
.i-hexagon.green {
  background: #00bb5e;
}
.i-hexagon.green:after {
  border-left-color: #00bb5e;
}
.i-hexagon.green:before {
  border-right-color: #00bb5e;
}
.i-hexagon.yellow {
  background: #fbd01e;
}
.i-hexagon.yellow:after {
  border-left-color: #fbd01e;
}
.i-hexagon.yellow:before {
  border-right-color: #fbd01e;
}
.i-hexagon.red {
  background: #fd4435;
}
.i-hexagon.red:after {
  border-left-color: #fd4435;
}
.i-hexagon.red:before {
  border-right-color: #fd4435;
}
.i-hexagon.lilac {
  background: #aaabfd;
}
.i-hexagon.lilac:after {
  border-left-color: #aaabfd;
}
.i-hexagon.lilac:before {
  border-right-color: #aaabfd;
}
.over-wl-hexa {
  float: right;
  height: 40px;
  margin-right: -15px;
  overflow: hidden;
}
.over-wl-hexa.t-1 {
  margin-top: -1px;
}
.over-wl-hexa .wl-hexa {
  top: -1px;
}
.wl-hexa {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  height: 44px;
  padding: 0 2px 0 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.wl-hexa.wl-first-hexa {
  float: right;
  margin-right: -15px;
}
.wl-hexa.t-2 {
  margin-top: -2px;
}
.wl-hexa:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -4px;
  right: 0;
  border-left: 15px solid #fff;
  border-top: 26px solid transparent;
  border-top: 26px solid rgba(0, 0, 0, 0);
  border-bottom: 24px solid transparent;
  border-bottom: 24px solid rgba(0, 0, 0, 0);
  z-index: 0;
}
.wl-hexa:before {
  display: block;
  content: '';
  width: 10px;
  height: 44px;
  position: absolute;
  top: -1px;
  right: 15px;
  background: #fff;
  z-index: 0;
}
.label-hexa {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  height: 43px;
  position: relative;
  min-width: 91px;
  color: #fff;
  font-size: 10px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
  padding: 3px 0 0 17px;
  margin: 1px 12px 0 0;
  background: #00bb5e;
  white-space: nowrap;
  z-index: 1;
}
.label-hexa b,
.label-hexa span {
  position: relative;
  z-index: 4;
}
@media all and (max-device-width: 1280px) {
  .label-hexa {
    width: 96px;
    min-width: inherit;
  }
  .label-hexa b,
  .label-hexa span {
    letter-spacing: -0.5px;
  }
}
.label-hexa:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -1px;
  right: -11px;
  border-left: 12px solid #00bb5e;
  border-top: 22px solid transparent;
  border-top: 22px solid rgba(0, 0, 0, 0);
  border-bottom: 20px solid transparent;
  border-bottom: 20px solid rgba(0, 0, 0, 0);
}
.label-hexa:hover,
.label-hexa:active {
  color: #fff;
  background: #008844;
  text-decoration: none;
}
.label-hexa:hover:after,
.label-hexa:active:after {
  border-left-color: #008844;
}
.label-hexa .square {
  position: absolute;
  top: 3px;
  right: 0;
}
.label-hexa.sold {
  background: #fd4435;
}
.label-hexa.sold:after {
  border-left-color: #fd4435;
}
.label-hexa.sold:hover,
.label-hexa.sold:active {
  background: #fd1502;
}
.label-hexa.sold:hover:after,
.label-hexa.sold:active:after {
  border-left-color: #fd1502;
}
.label-hexa.reserved {
  background: #fbd01e;
}
.label-hexa.reserved:after {
  border-left-color: #fbd01e;
}
.label-hexa.reserved:hover,
.label-hexa.reserved:active {
  background: #e2b704;
}
.label-hexa.reserved:hover:after,
.label-hexa.reserved:active:after {
  border-left-color: #e2b704;
}
.hexa-bd {
  height: 44px;
  width: 26px;
  margin: 0 13px;
  padding: 0;
  overflow: visible;
  background: #aaabfd;
  position: relative;
}
.hexa-bd:after,
.hexa-bd:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-top: 22px solid transparent;
  border-top: 22px solid rgba(0, 0, 0, 0);
  border-bottom: 22px solid transparent;
  border-bottom: 22px solid rgba(0, 0, 0, 0);
  z-index: 0;
}
.hexa-bd:after,
.hexa-bd:before {
  z-index: 1;
}
.hexa-bd:after {
  right: -13px;
  border-left: 13px solid #aaabfd;
}
.hexa-bd:before {
  left: -13px;
  border-right: 13px solid #aaabfd;
}
.hexa-bd .i-hexagon {
  top: 1px;
  width: 26px;
  height: 42px;
  color: #aaabfd;
  font-size: 35px;
  padding: 0;
  line-height: 42px;
  background: #fff;
}
@media all and (max-device-width: 1280px) {
  .hexa-bd .i-hexagon {
    padding-top: 5px;
  }
}
.hexa-bd .i-hexagon span {
  position: relative;
  z-index: 3;
}
@media all and (max-device-width: 1280px) {
  .hexa-bd .i-hexagon span {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    zoom: 1;
    width: 26px;
    height: 36px;
    background: #fff;
  }
}
.hexa-bd .i-hexagon:after,
.hexa-bd .i-hexagon:before {
  z-index: 2;
  top: 0;
  border-top-width: 21px;
  border-bottom-width: 21px;
}
.hexa-bd .i-hexagon:after {
  right: -12px;
  border-left: 12px solid #fff;
}
.hexa-bd .i-hexagon:before {
  left: -12px;
  border-right: 12px solid #fff;
}
.over-hexa-bd {
  height: 44px;
  overflow: hidden;
}
.over-hexa-bd .hexa-bd {
  height: 46px;
  top: -1px;
}
.over-hexa-bd .hexa-bd:after,
.over-hexa-bd .hexa-bd:before {
  top: 0;
  border-top-width: 23px;
  border-bottom-width: 22px;
}
.over-hexa-bd .hexa-bd:after {
  right: -12px;
  border-left-width: 13px;
}
.over-hexa-bd .hexa-bd:before {
  left: -12px;
  border-right-width: 13px;
}
.over-hexa-bd .hexa-bd .i-hexagon {
  top: 2px;
  height: 42px;
}
.over-hexa-bd .hexa-bd .i-hexagon:after,
.over-hexa-bd .hexa-bd .i-hexagon:before {
  z-index: 2;
  top: 0;
  border-top-width: 21px;
  border-bottom-width: 21px;
}
.over-hexa-bd .hexa-bd .i-hexagon:after {
  right: -11px;
  border-left-width: 12px;
}
.over-hexa-bd .hexa-bd .i-hexagon:before {
  left: -11px;
  border-right-width: 12px;
}
.over-hexa-bd.green .hexa-bd {
  background-color: #00bb5e;
}
.over-hexa-bd.green .hexa-bd:after {
  border-left-color: #00bb5e;
}
.over-hexa-bd.green .hexa-bd:before {
  border-right-color: #00bb5e;
}
.over-hexa-bd.green .hexa-bd .i-hexagon {
  color: #00bb5e;
}
.over-hexa-bd.red .hexa-bd {
  background-color: #fd4435;
}
.over-hexa-bd.red .hexa-bd:after {
  border-left-color: #fd4435;
}
.over-hexa-bd.red .hexa-bd:before {
  border-right-color: #fd4435;
}
.over-hexa-bd.red .hexa-bd .i-hexagon {
  color: #fd4435;
}
.over-hexa-bd.violet .hexa-bd {
  background-color: #5457f5;
}
.over-hexa-bd.violet .hexa-bd:after {
  border-left-color: #5457f5;
}
.over-hexa-bd.violet .hexa-bd:before {
  border-right-color: #5457f5;
}
.over-hexa-bd.violet .hexa-bd .i-hexagon {
  color: #5457f5;
}
.over-hexa-bd.yellow .hexa-bd {
  background-color: #fbd01e;
}
.over-hexa-bd.yellow .hexa-bd:after {
  border-left-color: #fbd01e;
}
.over-hexa-bd.yellow .hexa-bd:before {
  border-right-color: #fbd01e;
}
.over-hexa-bd.yellow .hexa-bd .i-hexagon {
  color: #fbd01e;
}
.over-hexa-bd.small-txt .i-hexagon {
  padding-top: 5px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: normal;
}
.fancybox-skin {
  border-radius: 0 !important;
}
/*======================= feature list =============================*/
.ft-list {
  color: #fff;
  font-size: 0;
  margin: 0;
  padding: 0;
}
.ft-list .item {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  width: 33.3333%;
  zoom: 1;
  margin: 0;
  padding: 0 0 0 87px;
}
.ft-list .item:before,
.ft-list .item:after {
  content: " ";
  display: table;
}
.ft-list .item:after {
  clear: both;
}
.ft-list .item:before,
.ft-list .item:after {
  content: " ";
  display: table;
}
.ft-list .item:after {
  clear: both;
}
@media screen and (max-width: 1279px) {
  .ft-list .item {
    padding-left: 60px;
  }
}
.ft-list .item .over-hexa {
  float: left;
}
.ft-list .item p {
  font-size: 14px;
  margin: 0 0 0 70px;
  line-height: 1.1;
}
.ft-list .item b {
  font-size: 23px;
}
.landing-body {
  padding-top: 180px;
  position: relative;
  z-index: 4;
}
.over-content {
  position: fixed;
  top: 206px;
  bottom: 109px;
  left: 0;
  right: 0;
}
.i-front .over-content {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
.i-front {
  background: url("../img/back.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* 1.25 dpr */
  /* 1.3 dpr */
  /* 1.5 dpr */
}
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .i-front {
    background: url("../img/back_retina.jpg") no-repeat;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
  .i-front {
    background: url("../img/back_retina.jpg") no-repeat;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .i-front {
    background: url("../img/back_retina.jpg") no-repeat;
  }
}
.b-content {
  height: 100%;
  overflow: hidden;
  padding: 35px 27px;
  min-height: 300px;
  position: relative;
  background: #fff;
}
.b-content.with-oper-list {
  padding-bottom: 100px;
}
.b-txt {
  line-height: 1.75;
  font-size: 12px;
  margin-right: -3px;
}
.b-txt p {
  margin-bottom: 20px;
}
.b-txt.go-top {
  margin-top: -5px;
}
.b-txt.b-lh-txt {
  line-height: 1.9;
  margin-right: 0;
}
.b-txt.b-lh-txt p {
  margin-bottom: 27px;
}
.ya-map {
  height: 322px;
  border-bottom: 4px solid #5457f5;
  margin-bottom: 25px;
}
@media screen and (max-width: 1279px) {
  .wide-txt {
    width: 100%;
    float: none;
    clear: both;
  }
}
/*======================= bubbles =============================*/
.bubble {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  color: #fff;
  text-align: center;
  position: absolute;
  text-decoration: none;
}
.bubble:hover,
.bubble:focus {
  color: #fff;
}
.bb1 {
  position: fixed;
}
.bub1 {
  top: 44%;
  left: 17%;
}
.bub2 {
  top: 33%;
  left: 39%;
}
.bub3 {
  top: 38%;
  left: 2%;
}
.b-title {
  display: block;
  font-size: 44px;
  color: #5457f5;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: -2px;
  padding-bottom: 5px;
  font-family: "BebasNeue Regular", Arial, Helvetica, sans-serif;
}
.b-title b {
  font-family: "BebasNeue Book", Arial, Helvetica, sans-serif;
}
.yellow .b-title {
  color: #fbd01e;
}
.green .b-title {
  color: #00bb5e;
}
.lilac .b-title {
  color: #aaabfd;
}
.red .b-title {
  color: #fd4435;
}
.ap-info {
  margin-bottom: 17px;
  white-space: nowrap;
}
.choose-link {
  display: block;
  color: #5457f5;
  text-align: center;
  text-decoration: underline;
}
.choose-link:hover,
.choose-link:focus {
  color: #5457f5;
  text-decoration: none;
}
.yellow .choose-link {
  color: #fbd01e;
}
.yellow .choose-link:hover,
.yellow .choose-link:focus {
  color: #fbd01e;
}
.green .choose-link {
  color: #00bb5e;
}
.green .choose-link:hover,
.green .choose-link:focus {
  color: #00bb5e;
}
.lilac .choose-link {
  color: #aaabfd;
}
.lilac .choose-link:hover,
.lilac .choose-link:focus {
  color: #aaabfd;
}
.red .choose-link {
  color: #fd4435;
}
.red .choose-link:hover,
.red .choose-link:focus {
  color: #fd4435;
}
.big-bubble {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  height: 234px;
  width: 290px;
  padding: 0 80px 0 70px;
  position: absolute;
  overflow: hidden;
  margin: 0 8px 0 0;
  z-index: 1;
}
.big-bubble.to-left {
  margin: 0 0 0 8px;
  padding: 0 70px 0 80px;
}
.big-bubble:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -1px;
  right: 0;
  border-left: 70px solid #5457f5;
  border-top: 118px solid transparent;
  border-top: 118px solid rgba(0, 0, 0, 0);
  border-bottom: 118px solid transparent;
  border-bottom: 118px solid rgba(0, 0, 0, 0);
  z-index: 0;
}
.big-bubble:before {
  display: block;
  content: '';
  width: 10px;
  height: 238px;
  position: absolute;
  top: 0;
  right: 70px;
  background: #5457f5;
  z-index: 0;
}
.big-bubble.to-left:after {
  border-left: none;
  right: auto;
  left: 0;
  border-right: 70px solid #5457f5;
}
.big-bubble.to-left:before {
  right: auto;
  left: 70px;
}
.big-bubble .in-bubble {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  height: 238px;
  width: 140px;
  padding-top: 19px;
  font-size: 12px;
  color: #222222;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  position: relative;
  top: -1px;
  background: #fff;
  z-index: 1;
}
.big-bubble .in-bubble:after,
.big-bubble .in-bubble:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-top: 118px solid transparent;
  border-top: 118px solid rgba(0, 0, 0, 0);
  border-bottom: 118px solid transparent;
  border-bottom: 118px solid rgba(0, 0, 0, 0);
  z-index: -1;
}
.big-bubble .in-bubble:after {
  right: -69px;
  border-left: 70px solid #fff;
}
.big-bubble .in-bubble:before {
  left: -69px;
  border-right: 70px solid #fff;
}
.big-bubble.yellow:after {
  border-left-color: #fbd01e;
}
.big-bubble.yellow:before {
  background: #fbd01e;
}
.big-bubble.yellow.to-left:after {
  border-right-color: #fbd01e;
}
.big-bubble.green:after {
  border-left-color: #00bb5e;
}
.big-bubble.green:before {
  background: #00bb5e;
}
.big-bubble.green.to-left:after {
  border-right-color: #00bb5e;
}
.big-bubble.lilac:after {
  border-left-color: #aaabfd;
}
.big-bubble.lilac:before {
  background: #aaabfd;
}
.big-bubble.lilac.to-left:after {
  border-right-color: #aaabfd;
}
.big-bubble.red:after {
  border-left-color: #fd4435;
}
.big-bubble.red:before {
  background: #fd4435;
}
.big-bubble.red.to-left:after {
  border-right-color: #fd4435;
}
.bubble-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  white-space: nowrap;
  margin-top: -155px;
}
.huge-bubble {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  height: 310px;
  width: 360px;
  padding: 0 90px;
  overflow: hidden;
  margin: 0 0 0 -0.3%;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .huge-bubble {
    width: 320px;
    padding: 0 70px;
  }
}
.huge-bubble .in-bubble {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  height: 312px;
  width: 180px;
  padding: 35px 0 0;
  font-size: 13px;
  color: #aaabfd;
  line-height: normal;
  text-align: center;
  font-style: normal;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  position: relative;
  top: -1px;
  background: #fff;
  z-index: 1;
}
.huge-bubble .in-bubble:after,
.huge-bubble .in-bubble:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-top: 156px solid transparent;
  border-top: 156px solid rgba(0, 0, 0, 0);
  border-bottom: 156px solid transparent;
  border-bottom: 156px solid rgba(0, 0, 0, 0);
  z-index: -1;
}
.huge-bubble .in-bubble:after {
  right: -89px;
  border-left: 90px solid #fff;
}
@media screen and (max-width: 1279px) {
  .huge-bubble .in-bubble:after {
    right: -69px;
    border-left-width: 70px;
  }
}
.huge-bubble .in-bubble:before {
  left: -89px;
  border-right: 90px solid #fff;
}
@media screen and (max-width: 1279px) {
  .huge-bubble .in-bubble:before {
    left: -69px;
    border-right-width: 70px;
  }
}
.huge-bubble .ap-info {
  font-weight: bold;
  min-height: 35px;
}
.huge-bubble .choose-link {
  color: #aaabfd;
  font-size: 11px;
  text-decoration: none;
}
.huge-bubble .choose-link [class^="icn-"],
.huge-bubble .choose-link [class*=" icn-"] {
  margin-right: 10px;
}
.huge-bubble .choose-link:hover,
.huge-bubble .choose-link:active {
  text-decoration: underline;
}
.huge-bubble .choose-link:hover [class^="icn-"],
.huge-bubble .choose-link:active [class^="icn-"],
.huge-bubble .choose-link:hover [class*=" icn-"],
.huge-bubble .choose-link:active [class*=" icn-"] {
  text-decoration: none;
}
.huge-bubble .house-number {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  width: 177px;
  height: 153px;
  padding: 75px 0 0;
  margin-bottom: 28px;
  text-align: center;
  font-size: 91px;
  line-height: 1;
  letter-spacing: -3px;
  font-style: normal;
  font-family: "BebasNeue Book", Arial, Helvetica, sans-serif;
  background: url("../img/house_sprite.png") no-repeat;
}
.huge-bubble.active .in-bubble {
  color: #fff;
  background: #aaabfd;
}
.huge-bubble.active .in-bubble:after {
  border-left-color: #aaabfd;
}
.huge-bubble.active .in-bubble:before {
  border-right-color: #aaabfd;
}
.huge-bubble.active .house-number {
  background-position: -177px 0;
}
.huge-bubble.active .choose-link {
  color: #fff;
}
.huge-bubble.active .icn-lilac-choose-right {
  width: 27px;
  height: 27px;
  background-position: -243px -24px;
}
/* vertical scrollbar */
.mCSB_container {
  width: auto;
  margin: 0 17px 0 0;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.mCSB_container:focus {
  outline: none;
}
.mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
}
.mCS_disabled > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar {
  margin: 0;
}
.mCustomScrollBox > .mCSB_scrollTools {
  width: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}
.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
}
.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  left: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 10px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background: #5457f5;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: relative;
  height: 20px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.mCSB_scrollTools .mCSB_buttonDown {
  top: 100%;
  margin-top: -40px;
}
/*======================= item list =============================*/
.item-list {
  padding-bottom: 8px;
  margin-bottom: 27px;
  margin-right: 12px;
  font-size: 0;
}
.item-list .txt,
.item-list .m-title {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  margin: 0 10px 0 0;
  color: #aaabfd;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.item-list .item {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  position: relative;
  text-decoration: none;
}
.item-list .item:after {
  display: block;
  content: '';
  position: absolute;
  height: 4px;
  left: 12px;
  right: 12px;
  bottom: -8px;
  opacity: 0;
  background: #aaabfd;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.item-list .item:hover:after,
.item-list .item:active:after,
.item-list .item.active:after {
  opacity: 1;
}
/*======================= state list =============================*/
.state-list {
  margin-bottom: 27px;
}
.state-list .item {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  font-size: 12px;
  margin-left: 20px;
}
.state-list .item .txt {
  margin-left: 5px;
}
.flat-list {
  width: 895px;
  margin-bottom: 20px;
}
.oper-list {
  margin-bottom: 20px;
}
.oper-list.simple {
  position: absolute;
  bottom: 35px;
  right: 27px;
  margin: 0;
}
.oper-list.simple a {
  text-decoration: none;
}
.oper-list.simple .txt {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  line-height: 1.2;
  margin: 0 15px 0 5px;
  color: #aaabfd;
  font-size: 11px;
}
.oper-list a:hover .txt,
.oper-list a:active .txt {
  color: #787afc;
}
.oper-list a:hover .lilac,
.oper-list a:active .lilac {
  background: #787afc;
}
.oper-list a:hover .lilac:after,
.oper-list a:active .lilac:after {
  border-left-color: #787afc;
}
.oper-list a:hover .lilac:before,
.oper-list a:active .lilac:before {
  border-right-color: #787afc;
}
/* _pika slider
============================= */
.b-slider {
  max-width: 321px;
  margin-bottom: 37px;
}
#fancybox-img {
  max-width: inherit;
}
#fancybox-close {
  right: -30px !important;
}
.jcarousel-skin-pika {
  max-width: 321px;
  height: 65px;
  overflow: hidden;
  margin: 0;
  font-size: 0;
}
.jcarousel-skin-pika a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
  height: 65px;
  width: 31%;
  text-align: center;
  margin: 0 3% 0 0;
  overflow: hidden;
  padding: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: none;
}
.jcarousel-skin-pika a:last-child {
  margin-right: 0;
}
.jcarousel-skin-pika a.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.pika-stage {
  border: 3px solid #aaabfd;
  height: 200px;
  max-width: 321px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.pika-stage img {
  max-width: none;
  max-height: 206px;
}
.pika-stage .icn-fancy {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  z-index: 1;
  cursor: pointer;
}
.reel-gallery {
  max-width: 321px;
  height: 200px;
  margin-bottom: 37px;
  overflow: hidden;
  position: relative;
  border: 3px solid #aaabfd;
}
.reel-gallery img {
  max-width: none;
}
.reel-gallery .icn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -23px 0 0 -23px;
  z-index: 1;
  cursor: pointer;
}
.right-rsb {
  position: absolute;
  top: 35px;
  right: 10px;
  bottom: 35px;
}
.ib {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
}
.link-list {
  font-size: 0;
  text-align: left;
  margin-right: 130px;
}
.link-list li {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  margin: 0 10px 2px 0;
  font-size: 14px;
}
.link-list li a {
  text-decoration: underline;
}
.link-list li a:hover,
.link-list li a:active,
.link-list li a.active {
  text-decoration: none;
}
.link-list li.active a {
  color: #00bb5e;
  text-decoration: underline !important;
}
.hex-list {
  width: 675px;
  margin: 40px auto 110px;
  position: relative;
  font-size: 0;
  text-align: center;
}
/*======================= hexagon photogallery =============================*/
.hexagon {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
  width: 225px;
  height: 270px;
  margin-bottom: -76px;
  font-size: 16px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}
.hexagon .hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hexagon .hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
/*======================= news list under hexagon gallery =============================*/
.news-list .col-md-3 {
  width: 33.3333%;
}
.news-list .over-hexa-bd {
  float: left;
}
.news-list .b-about {
  margin: -4px 0 10px 70px;
}
.news-list .b-about .green:hover,
.news-list .b-about .green:active {
  color: #00bb5e;
}
.news-list .b-about p {
  margin-top: 2px;
  font-size: 12px;
}
/*======================= footer =============================*/
.over-page {
  height: auto;
  min-height: 100% !important;
  margin-bottom: -109px;
}
.over-page .spacer {
  height: 123px;
}
.footer-wrap {
  z-index: 10;
  position: fixed;
  bottom: 18px;
  left: 0;
  right: 0;
}
.i-front .footer-wrap {
  height: 109px;
  position: relative;
  bottom: auto;
  padding: 0 0 18px;
}
.footer-wrap .b-footer {
  height: 77px;
  padding: 16px 33px 0;
  background: #fff;
}
@media screen and (max-width: 1279px) {
  .footer-wrap .b-footer {
    padding: 16px 24px 0;
  }
}
.footer-wrap .p-copy {
  font-size: 11px;
  margin: 15px 154px 0 0;
}
@media screen and (max-width: 1279px) {
  .footer-wrap .p-copy {
    margin-right: 50px;
  }
}
.footer-wrap nav {
  margin-top: 11px;
}
.footer-wrap nav a {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  font-size: 12px;
  text-decoration: underline;
  margin-right: 17px;
  color: #666666;
}
@media screen and (max-width: 1279px) {
  .footer-wrap nav a {
    margin-right: 10px;
  }
}
.footer-wrap nav a:hover,
.footer-wrap nav a:focus,
.footer-wrap nav a.active {
  color: #5457f5;
  text-decoration: none;
}
.footer-wrap nav a.green:hover,
.footer-wrap nav a.green:focus,
.footer-wrap nav a.green.active {
  color: #00bb5e;
}
.footer-wrap nav a.lilac:hover,
.footer-wrap nav a.lilac:focus,
.footer-wrap nav a.lilac.active {
  color: #aaabfd;
}
.footer-wrap nav a.red:hover,
.footer-wrap nav a.red:focus,
.footer-wrap nav a.red.active {
  color: #fd4435;
}
.footer-wrap nav a.yellow:hover,
.footer-wrap nav a.yellow:focus,
.footer-wrap nav a.yellow.active {
  color: #fbd01e;
}
.present-pdf {
  font-size: 11px;
}
.present-pdf .over-hexa {
  margin-left: 11px;
}
.present-pdf:hover,
.present-pdf:focus {
  color: #008844;
  text-decoration: none;
}
