@font-face {
  font-family: 'BebasNeue Regular';
  src: url('../fonts/BebasNeue Regular.eot');
  src: url('../fonts/BebasNeue Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Regular.woff') format('woff'), url('../fonts/BebasNeue Regular.ttf') format('truetype'), url('../fonts/BebasNeue Regular.svg#BebasNeue Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeue Book';
  src: url('../fonts/BebasNeue Book.eot');
  src: url('../fonts/BebasNeue Book.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Book.woff') format('woff'), url('../fonts/BebasNeue Book.ttf') format('truetype'), url('../fonts/BebasNeue Book.svg#BebasNeue Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
.lsn {
  list-style-type: none;
  padding: 0;
}
.relative {
  position: relative;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.upper {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.underlined {
  text-decoration: underline;
}
.underlined:hover,
.underlined:active,
.underlined.active {
  text-decoration: none;
}
.non-underlined {
  text-decoration: none;
}
.non-underlined:hover,
.non-underlined:active,
.non-underlined.active {
  text-decoration: underline;
}
.i-front {
  background: url("../img/back_ie7.jpg") no-repeat;
}
[class^="icn-"],
[class*=" icn-"] {
  text-indent: 0px;
}
.b-header .col-md-1 {
  width: 103px;
}
.col-md-7 {
  width: 65%;
}
.col-md-5 {
  width: 48%;
}
.with-oper-list .col-md-5 .col-md-5 {
  width: 40%;
}
.col-md-8 {
  width: 76%;
  overflow: hidden;
}
.header-wrap .b-header nav a {
  padding-bottom: 22px;
  border-bottom: 4px solid #fff;
}
.header-wrap .b-header nav a:hover,
.header-wrap .b-header nav a:focus,
.header-wrap .b-header nav a.active {
  border-bottom-color: #5457f5;
}
.header-wrap .b-header nav a.green:hover,
.header-wrap .b-header nav a.green:focus,
.header-wrap .b-header nav a.green.active {
  border-bottom-color: #00bb5e;
}
.header-wrap .b-header nav a.lilac:hover,
.header-wrap .b-header nav a.lilac:focus,
.header-wrap .b-header nav a.lilac.active {
  border-bottom-color: #aaabfd;
}
.header-wrap .b-header nav a.red:hover,
.header-wrap .b-header nav a.red:focus,
.header-wrap .b-header nav a.red.active {
  border-bottom-color: #fd4435;
}
.header-wrap .b-header nav a.yellow:hover,
.header-wrap .b-header nav a.yellow:focus,
.header-wrap .b-header nav a.yellow.active {
  border-bottom-color: #fbd01e;
}
.header-wrap .b-header nav a.logo {
  margin-right: 0;
  margin-top: 0;
  margin-left: 0;
  top: -12px;
  right: 0;
  left: 20px;
  border-bottom: 0 !important;
}
[class^="icn-"],
[class*=" icn-"] {
  text-indent: 0px;
}
.ft-list .item {
  padding: 0;
}
.icn-logo {
  margin-right: 16px;
}
.i-hexagon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.i-hexagon span {
  left: auto;
  right: auto;
}
.i-hexagon.hexa-big {
  letter-spacing: normal;
  text-align: center;
}
.i-hexagon.hexa-big span {
  left: auto;
  right: auto;
}
.news-list .col-md-3 {
  width: 31%;
}
.news-list .over-hexa-bd .hexa-bd .i-hexagon {
  padding-top: 8px;
  height: 40px;
}
.oper-list .i-hexagon {
  padding-top: 15px;
  height: 35px;
}
.oper-list .i-hexagon .icn-print {
  left: 2px;
}
.over-hexa-bd {
  height: 50px;
}
.over-hexa-bd .hexa-bd {
  width: 50px;
  height: 50px;
}
.over-hexa-bd .hexa-bd .i-hexagon {
  width: 48px;
  padding-top: 3px;
  height: 45px;
  top: 1px;
  border-left: 1px solid #aaabfd;
  border-right: 1px solid #aaabfd;
}
.over-hexa-bd.green .i-hexagon {
  border-left-color: #00bb5e;
  border-right-color: #00bb5e;
}
.item-list .item .over-hexa-bd {
  width: 50px;
  height: 53px;
  margin-right: 15px;
  border-bottom: 3px solid #fff;
}
.item-list .item .over-hexa-bd .over-hexa {
  padding: 0;
  margin: 0;
}
.item-list .item:hover .over-hexa-bd,
.item-list .item.active .over-hexa-bd {
  border-bottom-color: #aaabfd;
}
.state-list {
  margin-right: 50px;
}
.state-list .over-hexa {
  padding: 0;
}
.bubble-list {
  left: 50%;
  right: auto;
  margin-left: -606px;
}
.huge-bubble {
  width: 347px;
  padding: 0 30px;
}
.huge-bubble .in-bubble {
  width: 347px;
}
.huge-bubble .house-number {
  height: 75px;
}
.footer-wrap .b-footer {
  height: 66px;
  padding-right: 22px;
}
.label-hexa {
  padding-left: 7px;
  padding-right: 2px;
  margin-right: 0;
}
.label-hexa .square {
  right: 3px;
}
.wl-hexa,
.over-wl-hexa {
  margin-right: 0;
}
.wl-hexa.wl-first-hexa {
  margin-right: 0;
}
.flat-list {
  width: 950px;
}
.flat-list .over-wl-hexa {
  height: 46px;
  margin: 4px 0 0;
}
.flat-list .over-hexa-bd {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
  float: left;
  padding-bottom: 1px;
}
.flat-list .over-hexa-bd .hexa-bd {
  top: 0;
}
.flat-list .over-hexa-bd .wl-hexa {
  width: 50px;
  height: 50px;
}
.flat-list .over-hexa-bd .wl-hexa .over-hexa {
  margin: 0;
  padding: 0;
}
.flat-list .over-hexa-bd .wl-hexa.t-2 {
  margin: 0;
}
.with-oper-list .item-list {
  padding-bottom: 50px;
}
.with-oper-list .item-list .item {
  width: 44px;
  height: 53px;
  margin-right: 13px;
  border-bottom: 3px solid #fff;
}
.with-oper-list .item-list .item:hover,
.with-oper-list .item-list .item.active {
  border-bottom-color: #aaabfd;
}
.with-oper-list .item-list .over-hexa.hexa-bd {
  width: 44px;
  margin: 0;
}
.with-oper-list .item-list .over-hexa.hexa-bd .i-hexagon {
  width: 42px;
  right: -1px;
}
