@import "variables.less";
@import "mixins.less";


.i-front {
	background: url("@{pth-images}/back_ie7.jpg") no-repeat;
}

[class^="icn-"], [class*=" icn-"] {
	text-indent: 0px;
}

.b-header .col-md-1 {
	width:103px;
}

.col-md-7 {
	width: 65%;
}

.col-md-5 {
	width: 48%;
}

.with-oper-list {
	.col-md-5 {
		.col-md-5 {
			width: 40%;
		}
	}
}

.col-md-8 {
	width: 76%;
	overflow: hidden;
}

.header-wrap {

	.b-header {


		nav {
			a {
				padding-bottom: 22px;
				border-bottom: 4px solid #fff;


				&:hover,
				&:focus,
				&.active {
					border-bottom-color:@violet;
				}

				&.green {
					&:hover,
					&:focus,
					&.active {
						border-bottom-color: @green;
					}
				}

				&.lilac {
					&:hover,
					&:focus,
					&.active {
						border-bottom-color: @lilac;
					}
				}

				&.red {
					&:hover,
					&:focus,
					&.active {
						border-bottom-color: @red;
					}
				}

				&.yellow {
					&:hover,
					&:focus,
					&.active {
						border-bottom-color: @yellow;
					}
				}

				&.logo {
					margin-right: 0;
					margin-top: 0;
					margin-left: 0;
					top:-12px;
					right: 0;
					left:20px;
					border-bottom: 0 !important;
				}

			}
		}

	}
}

[class^="icn-"], [class*=" icn-"] {
	text-indent: 0px;
}

.ft-list {

	.item {
		padding:0;
	}
}

.icn-logo {
	margin-right:16px;
}

.i-hexagon {
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: 0;
	letter-spacing: normal;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	span {
		left:auto;
		right: auto;
	}

	&.hexa-big {
		letter-spacing: normal;
		text-align: center;

		span {
			left:auto;
			right: auto;
		}
	}
}

.news-list .col-md-3 {
	width:31%;
}

.news-list {
	.over-hexa-bd {
		.hexa-bd {
			.i-hexagon {
				padding-top: 8px;
				height: 40px;
			}
		}
	}
}

.oper-list {
	.i-hexagon {
		padding-top: 15px;
		height: 35px;

		.icn-print {
			left:2px;
		}
	}
}


.over-hexa-bd {
	height: 50px;
	.hexa-bd {
		width: 50px;
		height: 50px;

		.i-hexagon {
			width: 48px;
			padding-top: 3px;
			height: 45px;
			top:1px;
			border-left: 1px solid @lilac;
			border-right: 1px solid @lilac;
		}
	}
	&.green {
		.i-hexagon {
			border-left-color:@green;
			border-right-color:@green;
		}
	}
}

.item-list {
	.item {
		.over-hexa-bd {
			width: 50px;
			height: 53px;
			margin-right: 15px;
			border-bottom: 3px solid #fff;

			.over-hexa {
				padding: 0;
				margin: 0;
			}
		}
		&:hover,
		&.active {
			.over-hexa-bd {
				border-bottom-color: @lilac;
			}
		}
	}
}

.state-list {
	margin-right: 50px;
	.over-hexa {
		padding: 0;
	}
}

.bubble-list {
	left:50%;
	right: auto;
	margin-left: -606px;
}

.huge-bubble {
	width: 347px;
	padding: 0 30px;
	.in-bubble {
		width:347px;
	}
	.house-number {
		height: 75px;
	}
}

.footer-wrap .b-footer {
	height:66px;
	padding-right: 22px;
}

.label-hexa {
	padding-left: 7px;
	padding-right: 2px;
	margin-right: 0;

	.square {
		right: 3px;
	}
}
.wl-hexa,
.over-wl-hexa {
	margin-right: 0;
}

.wl-hexa {
	&.wl-first-hexa {
		margin-right: 0;
	}
}

.flat-list {
	width: 950px;
	.over-wl-hexa {
		height: 46px;
		margin: 4px 0 0;
	}
	.over-hexa-bd {
		width: 50px;
		.ib;
		float: left;
		padding-bottom: 1px;

		.hexa-bd {
			top:0;
		}

		.wl-hexa {
			width: 50px;
			height: 50px;

			.over-hexa {
				margin: 0;
				padding: 0;
			}

			&.t-2 {
				margin: 0;
			}
		}
	}
}

.with-oper-list .item-list {
	padding-bottom: 50px;

	.item {
		width: 44px;
		height: 53px;
		margin-right: 13px;
		border-bottom: 3px solid #fff;
		&:hover,
		&.active {
			border-bottom-color: @lilac;
		}
	}
	.over-hexa {
		&.hexa-bd {
			width: 44px;
			margin: 0;

			.i-hexagon {
				width: 42px;
				right:-1px;
			}
		}
	}
}