@import "variables.less";
@import "mixins.less";

.icn-logo {
	background-image: url("@{pth-images}/logo_small.png");
}

.back-bg {
	img {
		max-width: none;
	}
}

.header-wrap {
	.b-header {
		nav {
			a {
				&.logo {
					background-image: url("@{pth-images}/under_logo_small.png");
				}
			}
		}
	}
}

.hexa-bd .i-hexagon {
	font-size: 23px;
	line-height: 45px;
}
.hexa-big.i-hexagon {
	font-size: 31px;
	line-height: 45px;
}

.huge-bubble .house-number {
	font-size: 63px;
	padding-top: 100px;
}

.jcarousel-skin-pika a {
	margin-right: 2.2%;
}

.shd {
	display: none !important;
}

.hexagon {
	width: 225px;
	height: 225px;
	margin-bottom: 0;
}