@font-face {
  font-family: 'BebasNeue Regular';
  src: url('../fonts/BebasNeue Regular.eot');
  src: url('../fonts/BebasNeue Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Regular.woff') format('woff'), url('../fonts/BebasNeue Regular.ttf') format('truetype'), url('../fonts/BebasNeue Regular.svg#BebasNeue Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeue Book';
  src: url('../fonts/BebasNeue Book.eot');
  src: url('../fonts/BebasNeue Book.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Book.woff') format('woff'), url('../fonts/BebasNeue Book.ttf') format('truetype'), url('../fonts/BebasNeue Book.svg#BebasNeue Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
.lsn {
  list-style-type: none;
  padding: 0;
}
.relative {
  position: relative;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.upper {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.underlined {
  text-decoration: underline;
}
.underlined:hover,
.underlined:active,
.underlined.active {
  text-decoration: none;
}
.non-underlined {
  text-decoration: none;
}
.non-underlined:hover,
.non-underlined:active,
.non-underlined.active {
  text-decoration: underline;
}
.icn-logo {
  background-image: url("../img/logo_small.png");
}
.back-bg img {
  max-width: none;
}
.header-wrap .b-header nav a.logo {
  background-image: url("../img/under_logo_small.png");
}
.hexa-bd .i-hexagon {
  font-size: 23px;
  line-height: 45px;
}
.hexa-big.i-hexagon {
  font-size: 31px;
  line-height: 45px;
}
.huge-bubble .house-number {
  font-size: 63px;
  padding-top: 100px;
}
.jcarousel-skin-pika a {
  margin-right: 2.2%;
}
.shd {
  display: none !important;
}
.hexagon {
  width: 225px;
  height: 225px;
  margin-bottom: 0;
}
