// Center-align a block level element

.ib() {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom:1;
}

.ibt() {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom:1;
}

.ibb() {
  display: inline-block;
  vertical-align: bottom;
  *display: inline;
  zoom:1;
}

.lsn {
	list-style-type: none;
	padding: 0;
}

.relative {position: relative;}
.txt-center {text-align: center;}
.txt-right 	{text-align: right;}
.txt-left 	{text-align: left;}
.upper 		{text-transform: uppercase;}
.underline 	{text-decoration: underline;}

.underlined {
	text-decoration: underline;
	&:hover,
	&:active,
	&.active {
		text-decoration:none;
	}
}

.non-underlined {
	text-decoration: none;
	&:hover,
	&:active,
	&.active {
		text-decoration:underline;
	}
}

.transform (@t) {
	-webkit-transform: @t;
	   -moz-transform: @t;
		    -o-transform: @t;
			transform: @t;
}

.transform-origin (@t) {
	-webkit-transform-origin: @t;
	   -moz-transform-origin: @t;
		    -o-transform-origin: @t;
			transform-origin: @t;
}

.backface-visibility (@t) {
	-webkit-backface-visibility: @t;
	   -moz-backface-visibility: @t;
		    -o-backface-visibility: @t;
			backface-visibility: @t;
}
